In [1]:
%matplotlib notebook

import numpy as np
import matplotlib.pyplot as plt
import pandas

In [2]:
Data = pandas.read_csv("lowbwt.dat",  lineterminator='\n', skiprows=xrange(5), delim_whitespace=True)
Data.iloc[:5, :]

   ID  LOW  AGE  LWT  RACE  SMOKE  PTL  HT  UI  FTV  BWT\r
0  85    0   19  182     2      0    0   0   1    0   2523
1  86    0   33  155     3      0    0   0   0    3   2551
2  87    0   20  105     1      1    0   0   0    1   2557
3  88    0   21  108     1      1    0   0   1    2   2594
4  89    0   18  107     1      1    0   0   1    0   2600

In [3]:
X = Data.loc[:, 'AGE':'FTV']
sample_size, feature_size = X.shape
print X.iloc[:5, :]


X = np.array(X).reshape(sample_size, feature_size)

   AGE  LWT  RACE  SMOKE  PTL  HT  UI  FTV
0   19  182     2      0    0   0   1    0
1   33  155     3      0    0   0   0    3
2   20  105     1      1    0   0   0    1
3   21  108     1      1    0   0   1    2
4   18  107     1      1    0   0   1    0

In [4]:
Y = Data.loc[:, 'LOW']
print Y.iloc[:5]

Y = np.array(Y).reshape(sample_size, 1)

0    0
1    0
2    0
3    0
4    0
Name: LOW, dtype: int64

In [5]:
def hypothesis(X, Theta):
    return 1 / (1 + np.e ** -(X.dot(Theta.T)))

In [6]:
def cost_function(X, Y, Theta):
    Sigmoid = hypothesis(X, Theta)
    return -(np.sum(np.log(Sigmoid) * Y + np.log(1 -  Sigmoid) * (1 - Y)) * (1 / float(sample_size)))

In [7]:
def gradient_descent(X, Y, Theta, learning_rate, iterate):
    sample_size, feature_size = X.shape
    Theta = Theta.copy()
    for i in xrange(iterate):
        Y_ = hypothesis(X, Theta)
        mean_error = (Y_ - Y) / float(sample_size)
        update_values = learning_rate * mean_error.transpose().dot(X)
        Theta -= update_values
    return Theta

In [8]:
Theta = np.zeros((1, feature_size))

In [9]:
Theta = gradient_descent(X, Y, Theta, 0.0001, 1000)

In [10]:
print "Cost = ", cost_function(X, Y, Theta)

Cost =  0.608484463658